<web-app xmlns="http://java.sun.com.xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>message</param-name>
		<param-value>This is my global message</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>contextinit</servlet-name>
		<servlet-class>com.example.contextinit.Params</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>contextinit</servlet-name>
		<url-pattern>/params</url-pattern>
	</servlet-mapping>

</web-app>
